// $('body').append('<div id="ajaxBusy"><img src="<%= image_path('loading.gif') %>"/></div>');
$('body').append('<div id="ajaxBusy"><img src="<%= asset_path('loading.gif') %>"/></div>');
// var someAssetPath = "<%= asset_path('some_image.png') %>";