%div.domains-table-container
  - if domains.empty?
    %div.flash-error= t('message_no_domains_found')
  %table#domains-table
    %tbody
      = render :partial => '/domains/domain', :collection => domains
  - if domains.respond_to?(:current_page)
    = will_paginate domains, :id => 'domains-table-pagination', :previous_label => '«'.html_safe, :next_label => '»'.html_safe
