%h2 Filter

      # = form_tag(domain_records_path(@domain), :remote => true, :method => :get, :class => 'records-search-form') do
        # = text_field_tag :query, '', :class => 'search-field', 'data-help' => 'help-records-search'