%h1= t(:title_audits)


= render :partial => 'list', :object => @audits, :as => :audits

%h2 Filter
= form_for(:html => {:id => 'filter-form'}) do |f|
  %table#filter
    %tbody
      %tr
        %td= f.label :action, "Action"
