%h1
  = View.model_name.human.titleize
  - if current_user.admin? || current_user.operator?
    = link_to('', '#', :class => 'edit-view-button ui-icon-edit', :title => t(:generic_edit))
  - if current_user.admin?
    = link_to('', view_path(@view), :class => 'delete-view-button ui-icon-trash', :title => t(:generic_delete), :method => :delete, :data => {:confirm => t(:confirm_view_delete, :view => @view.name)})

= render :partial => 'form'
