/*
*# require jquery-ui
*= require bold-dark
*= require prototip
*= require tipTip
*= require font-awesome
*= require font-vagrounded
*= require_self
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Lucida Grande, Sans, sans-serif;
    font-size: 10pt;
    color: #3f3f3f;
    background-color: #eee;
}
.container {
    width: 900px;
    margin: 2em auto 2em auto;
    box-shadow: 0px 0px 16px #888;
    background-color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.header {
    height: 72px;
    padding: 3em 3em 1em 3em;
    /* background-image: url(top-background.png); */
    /* background-repeat: repeat-x; */
}
.header h1 {
    padding: 0;
    margin: 0;
}
.nav {
    padding: 1em 3em;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav ul li {
    display: inline;
    padding-right: 1em;
}
.nav a:link, .nav a:active, .nav a:visited {
    color: #0f2f98;
    /* text-shadow: 0px 0px 1px #0f2f98; */
    font-weight: bold;
    text-decoration: none;
	font-size: 12pt;
}
.nav a:hover {
    color: #4a65be;
}
#search-bar, #records-search-bar {
    float: right;
    margin-right: -1em;
}
.search-icon:after {
    content: "\f002";
    font-family: FontAwesome;
    position: relative;
    left: -1.5em;
    width: 0;
}
#search-bar input {
    width: 10em;
    padding-right: 1.5em;
}
.body {
    padding: 0 3em 2em 3em;
    background-color: white;
}
.footer {
    margin: 0 auto;
    padding: 1em 0 3em 0;
    width: 30em;
    text-align: center;
    color: #999;
    font-size: 9pt;
}
.body h1 {
    margin: 2em 0 .5em 0;
    line-height: 1.5em;
    /* text-shadow: 0px 0px 1px #333; */
    font-size: 12pt;
    font-weight: bold;
}
.body h1:after {
    content: '';
    display: block;
    background-image: -moz-linear-gradient(to right , #dde, #fff, #fff, #fff, #fff);
    background-image: -webkit-linear-gradient(left, #dde, #fff, #fff, #fff, #fff);
    height: 1px;
}
.body h1 a {
    color: inherit;
    line-height: 1em;
}
.body h1 a:first-child {
    padding-left: 1em;
}
.body h1 a:hover {
    color: #666;
}
.body h2 {
    margin: 1em 0 .5em 0;
    padding: .5em 0 1em 0;
    font-size: 11pt;
}
.help-icon {
    font-size: 120%;
    cursor: default;
    vertical-align: middle;
}
p {
    margin: 1em 0;
}
label {
    font-weight: bold;
}
div.padded {
    margin: 5px 0;
}
table.grid {
    width: 400px;
}
table.gridwide {
    width: 100%;
}
a {
    text-decoration: none;
    color: #0f2f98;
}
a:hover {
    color: #4a65be;
}
hr {
    border: 0;
    height: 1px;
    background: -moz-linear-gradient(left center, rgba(255, 255, 255, 0), #CCC, #CCC, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(left, #fff, #fff, #ccc, #ccc, #fff, #fff);
}
.hidden {
    display: none;
}
ul.errors {
    margin-left: 1em;
    padding: 0;
    color: #a22;
    font-weight: bold;
}
ul.errors li {
    padding: .25em 0;
}

.flash-alert, .flash-notice, .flash-info, .flash-warning, .flash-error {
    padding: 1em;
    font-weight: bold;
    background: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    border: 1px solid #ccc;
}
.flash-notice, .flash-info {
    color: #2a2;
}
.flash-alert, .flash-error, .flash-warning {
    color: #a22;
}

ul.errors li {
    padding: .25em 0;
}


.small {
    font-size: 90%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.top {
    vertical-align: top;
}
.underline {
    border-bottom: 1px solid #ccc;
    margin: 10px 0 5px 0;
}
a img {
    border: none;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.generic-warning {
    border: 1px solid #F66;
    background-color: #FFC;
}
.generic-warning img {
    margin-left: -25px;
}
.actions {
    margin-top: 1em;
}
tr.actions td {
    padding-top: 1em;
}
input[type="text"], input[type="password"], textarea, select {
    background: #f7f7f7;
    width: 15em;
    padding: .25em;
    border: 1px solid #ccc;
    color: #444;
}
input[type="text"], input[type="password"], select {
    height: 1.2em;
}
input[type="submit"], input[type="button"], button {
    height: 2.5em;
    padding: .25em 1em;
    font-weight: bold;
    font-size: 10pt;
    border-top:    1px solid #ccc;
    border-left:   1px solid #ccc;
    border-bottom: 1px solid #aaa;
    border-right:  1px solid #aaa;
    background: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #444;
}
input[type="submit"], input[type="button"], button,
input[type="text"], input[type="password"], textarea, select {
    font-family: Arial, Helvetica, Lucida Grande, Sans, sans-serif;
    font-size: 10pt;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover,
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    box-shadow: 0px 0px 2px #bbb;
    border: 1px solid #bbb;
    background: #ffffff;
    color: #666;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    border-top:    1px solid #ddd;
    border-left:   1px solid #ddd;
    border-bottom: 1px solid #bbb;
    border-right:  1px solid #bbb;
    color: #666;
    background: -moz-linear-gradient(top, #ffffff, #efefef);
    background: -webkit-linear-gradient(top, #ffffff, #efefef);
}
textarea#named_conf {
    width: 99%;
    height: 25em;
    font-family: Monospace;
}

.pagination {
    padding: .5em 0 0 0;
    margin: -2em 0 2em 0;
    text-align: center;
    font-size: 8pt;
}
.pagination > * {
    padding-right: .5em;
}
.pagination > em {
    font-style: normal;
}
.pagination .previous_page, .pagination .next_page {
    font-size: 11pt;
}
table#domains-table {
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid #efefef;
    border-collapse: collapse;
}
table#domains-table td {
    padding: .5em 0;
}
table#domains-table tr.even {
    background-color: #f7f7f7;
}

table#show-domain td, table#edit-domain td, table#new-domain td {
    height: 2em;
}
table#show-domain td label, table#edit-domain td label, table#new-domain td label {
    display: block;
    min-width: 10em;
    padding-right: 2em;
}
table#edit-domain td.notes {
    vertical-align: top;
    padding-top: 0.45em;
}
table#edit-domain textarea#domain_notes {
    height: 5em;
}

table#show-soa-record td, table#edit-soa-record td {
    height: 2em;
}
table#show-soa-record td label, table#edit-soa-record td label {
    padding-right: 2em;
}
table#record-table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    border-bottom: 1px solid #efefef;
}
table#record-table th {
    text-align: left;
}
table#record-table th, table#record-table td {
    padding: .5em 0;
}
table#record-table tr.even {
    background-color: #f7f7f7;
}
table#record-table td.actions {
    text-align: right;
}
table#record-table td.actions a {
    color: #444;
    font-size: 120%;
}
table#record-table td.name, table#record-table td.data {
    width: 30%;
}
table#record-table td.ttl, table#record-table td.type, table#record-table td.prio {
    width: 10%;
}
table#record-table tr.edit-record td {
    padding: 0;
}
table#record-table td input#record_ttl, table#record-table td input#record_prio {
    width: 4em;
}
table#new-record td label {
    padding-right: 2em;
	min-width: 5em;
    display: block;
}

table#users-table {
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid #efefef;
    border-collapse: collapse;
}
table#users-table th {
    text-align: left;
}
table#users-table th, table#users-table td {
    padding: .5em 0;
}
table#users-table tr.even {
    background-color: #f7f7f7;
}
table#users-table td.actions {
    text-align: right;
}
table#users-table td.actions a {
    color: #444;
    font-size: 120%;
}
table#users-table td.login, table#users-table td.role {
    width: 13%;
}
table#users-table td.login input, table#users-table td.role select {
    width: 7em;
}
table#users-table td.email {
    width: 22%;
}
table#users-table td.email input {
    width: 10em;
}
table#users-table td.password {
    width: 35%;
}
table#users-table td.password input {
    width: 8em;
}
table#users-table td.actions {
    width: 10%;
}
table#users-table tr.edit-user td {
    padding: 0;
}
table#new-user td label {
    padding-right: 1em;
}

table#domain-templates-table {
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid #efefef;
    border-collapse: collapse;
}
table#domain-templates-table td {
    padding: .5em 0;
}
table#domain-templates-table tr.even {
    background-color: #f7f7f7;
}

table#show-domain-template td, table#edit-domain-template td, table#new-domain-template td {
    height: 2em;
}
table#show-domain-template td label, table#edit-domain-template td label, table#new-domain-template td label {
    display: block;
    min-width: 10em;
    padding-right: 2em;
}

table#show-soa-record-template td, table#edit-soa-record-template td {
    height: 2em;
}
table#show-soa-record-template td label, table#edit-soa-record-template td label {
    padding-right: 2em;
}

table#record-templates-table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    border-bottom: 1px solid #efefef;
}
table#record-templates-table th {
    text-align: left;
}
table#record-templates-table th, table#record-templates-table td {
    padding: .5em 0;
}
table#record-templates-table tr.even {
    background-color: #f7f7f7;
}
table#record-templates-table td.actions {
    text-align: right;
}
table#record-templates-table td.actions a {
    color: #444;
    font-size: 120%;
}
table#record-templates-table td.name, table#record-templates-table td.data {
    width: 30%;
}
table#record-templates-table td.ttl, table#record-templates-table td.type, table#record-templates-table td.prio {
    width: 10%;
}
table#record-templates-table tr.edit-record td {
    padding: 0;
}
table#record-templates-table td input#record_template_ttl, table#record-templates-table td input#record_template_prio {
    width: 4em;
}
table#new-record-template td label {
	display: block;
	min-width: 5em;
    padding-right: 2em;
}

.fieldWithErrors input {
    border: 1px solid #F66;
}
input.nb, textarea.nb {
    border: none;
}
.export-output h2 {
    margin: 2em 0 .5em 0;
    padding: 0;
}
.export-output pre {
    width: 99%;
    background: #f7f7f7;
    margin: 0;
    padding: .25em;
    border: 1px solid #ccc;
    color: #3f3f3f;
    font: Monospace;
}

ul.start {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}
ul.start li {
    display: inline;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    vertical-align: middle;
}

#ajaxBusy {
  display: none;
  margin: 0;
  margin-left: -50px;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100px;
  background-color: #F9D955;
  z-index: 1;
}
